body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}

/* header */
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    border-bottom: 1 px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    color: #4d5ae5
}
.logo-part {
    color: #2e2f42;
}
.nav {
    display: flex;
    align-items: center;
}
.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    color: #2e2f42;
}
.nav-list {
    display: flex;
    gap: 40px;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.address-link {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-list {
    display: flex;
    gap: 40px;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* Effective Solutions for Your Business */
/* .main {

} */
/* .main-container {
    
} */
.main-title {
    background-color: #2e2f42;
}
.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}
.button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* features */
/* .features-container {

} */
.features-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* .features-list {

} */

/* Our Team */

.our-team {
    background: #f4f4fd;
}
/* .our-team-container {

} */
.our-team-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
.our-team-item {
    background-color: #FFFFFF;
}
.our-team-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-team-image {
    background: url;
}
.our-team-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* .our-team-list {

} */

/* Our Portfolio */
/* .our-portfolio-container {

} */
.our-portfolio-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}
/* .our-portfolio-list {

} */
.our-portfolio-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.our-portfolio-image {
    background: url("path_to_image");
}
.our-portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* footer */
.footer {
    background: #2e2f42;
}
/* .footer-container {

} */
.footer-logo-part {
    color: #f4f4fd;
}
.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}